.square {
    width: 200px;
    height: 200px;
    border: solid black ;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole {
    background-image: url("images/mole.png");
    background-size: cover;
}